<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>

{% block content %}
    <table border="1">
        <caption>Таблица ресторанов</caption>
    <tr>
         <th>Название ресторана  </th>
         <th>Отзыв              </th>
         <th> Рейтинг              </th>
    </tr>
    {% for item in restorants %}
        <tr>
            <td> <a href="{{ item.id}}">{{ item.name_restorant }}</a></td>
            <td>{{ item.rescription_restorant }}</td>
            <td>{{ item.rating_restorant }}</td>

        </tr>
    {% endfor %}

    </table>
{% endblock %}
<br><br><br><br>
{% if request.user.is_authenticated %}
{% block form2 %}
    <h3> Поздравляю вы зарегестрированы вы можете Добавить ресторан</h3>
   <form action="{% url 'rest-create' %}" method="POST" class="">{% csrf_token %}
        {% for fields in form %}
            {% if fields.errors %}
                <div class="alert" >
              <h3>{{ fields.errors }}</h3>
                </div>
            {% endif %}
            {{ fields }}: {{ fields.label }}<br>
       {% endfor %}
        <button type="submit" >Save</button>
    </form>
        <form action="{% url 'auth' %}" method="POST">{% csrf_token %}
        <input type="submit" value="Logout" />
        <input type="hidden" name="logout" value="logout" />
    </form>
{% endblock %}
    {% else %}

    Зарегестрированные пользователи могут добавлять рестораны
    Заполните форму регистрации
    <form action="{% url 'auth' %}" method="get"> {% csrf_token %}

        <button type="submit" > Зарегестрироваться </button>
    </form>

    </form>
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        {{ login.as_p }}
        <input type="submit" value="login" />
    </form>
{% endif %}
<br>

</body>
</html>
