<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
{% block content %}
    <table border="1">
        <caption>Таблица ресторанов</caption>
    <tr>
        <th>Название ресторана</th>
         <th>Отзыв</th>
    </tr>
    {% for item in restorants %}
        <tr>
            <td>{{ item.name_restorant }}       </td>
            <td>{{ item.rescription_restorant }}</td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}
</body>
</html>