<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>



{% block content %}
    <table border="1">
        <caption>Таблица ресторанов</caption>
    <tr>
         <th>Название ресторана  </th>
         <th>Отзыв              </th>
         <th> Рейтинг              </th>
    </tr>
    {% for item in restorants %}
        <tr>
            <td> <a href="{{ item.id}}">{{ item.name_restorant }}</a></td>
            <td>{{ item.rescription_restorant }}</td>
            <td>{{ item.rating_restorant }}</td>

        </tr>
    {% endfor %}

    </table>
{% endblock %}
<br><br><br><br>
{% block form2 %}
    <h3>Добавить ресторан</h3>
   <form action="{% url 'rest-create' %}" method="POST" class="">{% csrf_token %}
        {% for fields in form %}
            {% if fields.errors %}
                <div class="alert" >
              <h3>{{ fields.errors }}</h3>
                </div>
            {% endif %}
            {{ fields }}: {{ fields.label }}<br>
       {% endfor %}
        <button type="submit" >Save</button>
    </form>
{% endblock %}
</body>
</html>
